Language:        Cpp
Standard:        c++14
BasedOnStyle:    Google

AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left

BreakConstructorInitializers: BeforeComma
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
ColumnLimit: 80

